@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Prata&family=Young+Serif&display=swap');
@import "tailwindcss";

a.active hr {
    display: block;
}

*{
    font-family: 'Outfit';
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
